.quicksand-regular {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .nav-logo{
    display: flex;
    gap: 15px;
  }
  .nav-tile{
    font-weight: bold;
    font-style: 2rem;
  }
  .anchors{
    display: flex;
    gap: 32px;
    list-style: none;
  }
  a{
    text-decoration: none;
  }
  .home{
    color: #FEA301;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .about{
    color: #01ACFD;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .facilities{
    color: #05D4DF;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .admission{
    color: #5D58EF;
    font-weight: bold;
    font-size: 1.25rem;
  }
  .contact-btn{
    background-color: #FEA301;
    color: white;
    border-radius: 12px;
    width: 197px;
    height: 50px;
    border: none;
  }
  .navigation-bar{
    display: flex;
    max-width: 1160px;
    justify-content: space-between;
    margin-top: 20px ;
    width: 100%;
  }
  body{
    max-width: 1440px;
    margin: 0px auto;
  }
  .banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    
  }
  .first-text{
    color:#FEA301;
  }
  .third-text{
    color: #01ACFD;
  }
  .title-descripton{
    font-size: 1.25rem;

  }
  .btn1{
    color: #fff;
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    font-size: 1.25rem;
  }
  .banner{
    display: flex;
    justify-content: space-between;
    max-width: 1160px;
    margin: 0px auto;
  }
  .banner-text{
    max-width: 640px;
    
  }
  .menu-bar{
    background-color: white;
    border: none;
    display: none;
    font-size: 32px;
  }
  .banner-img{
    width: 100%;
  }
  body{
    margin: 0px;
  }
  .curriculum-title {
    font-size: 2.8rem;
      font-weight: bold;
      text-align: center;
      padding: 50px 0px;
       }
    
    .curriculum-text {
      display: flex;
      gap: 30px;
    justify-content: space-between;
      max-width: 1160px;
      width: 100%;
      margin: 0px auto;
      }
    .curriculum-card1 {
      border-radius: 18.86px;
      text-align: center;
      padding: 50px 40px;
      box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    background-image: linear-gradient(180deg, #DEF5FF, white);
    }
    .curriculum-card2 {
      border-radius: 18.86px;
      text-align: center;
      padding: 50px 40px;
      box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
      background-image: linear-gradient(180deg, #FFF4DC, white);
    
    }
    .curriculum-card3 {
      border-radius: 18.86px;
      text-align: center;
      padding: 50px 40px;
      box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05) ;
    background-image: linear-gradient(180deg, #F2E8FF, white);
    }
    
    
    
    .curriculum-card1-title {
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
    }
    .curriculum-card2-title {
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
    }
    .curriculum-card3-title {
      font-weight: bold;
      font-size: 1.5rem;
      color: black;
    }
    
    
    .card1-text {
      font-weight: medium;
      font-size: 1rem;
      color: #808080;
    }
    .card2-text {
      font-weight: medium;
      font-size: 1rem;
      color: #808080;
    }
    .card3-text {
      font-weight: medium;
      font-size: 1rem;
      color: #808080;
    }
    
    
    .btn2 {
    font-weight: bold;
      font-size: 1rem;
     border: none;
      background-color: transparent;
      color: rgba(100, 200, 255, 1);
    }
    .btn3 {
    font-weight: bold;
      font-size: 1rem;
     border: none;
      background-color: transparent;
      color: rgba(240, 170, 0, 1);
    }
    .btn4 {
    font-weight: bold;
      font-size: 1rem;
     border: none;
      background-color: transparent;
      color: rgba(135, 0, 255, 1);
    }
    
    .btn5 {
      color: white;
      font-size: 1.5rem;
      background-color: orange;
      width: 60px;
      height: 60px;
      border-radius: 30px;
      border: none;
      }
    .btn5:hover{
      background-color: pink;
      }
    
    .angle-btn
    {
      text-align: center;
     padding: 60px 0px;
    }
    .stories-title {
      font-weight: bold;
      font-size: 2.8rem;
      padding: 50px 0px;
      text-align: center;
    
    }
    
    .stories-big-card {
    background-color: white;
      border-radius: 16px;
      max-width: 540px;
    position: relative;
      }
    .stories-mini-cards{
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2 , 1fr);
    }
    .stories-mini-card1{
    background-color: white;	
     border-radius: 16px;
      max-width: 290px;
      width: 100%;
    position: relative;
      }
    .stories-mini-card2{
    background-color: white;	
     border-radius: 16px;
      max-width: 290px;
      width: 100%;
    position: relative;
      }
    .stories-mini-card3{
    background-color: white;	
     border-radius: 16px;
      max-width: 290px;
      width: 100%;
    position: relative;
      }
    .stories-mini-card4{
    background-color: white;	
     border-radius: 16px;
      max-width: 290px;
      width: 100%;
    position: relative;
      }
    .stories-mini-card1-title {
      font-weight: bold;
      font-size: 1.5rem;
      margin: 35px;
      padding: 15px;
    }
    
    .stories-card1-text {
      font-weight: medium;
      font-size: 1rem;
      color: rgba(102, 102, 102, 1);
      padding: 20px 50px;
    }
    
    .stories-pic {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      width: 100%;
    }
    
    .btn6 {
      color: white;
      font-weight: medium;
      font-size: 1rem;
      width: 175px;
      height: 50px;
      border: none;
      border-radius: 50px;
    position: absolute;
      top: 315px;
      left: 40px;
      background-color: rgba(60, 216, 232, 1);
    
      
    }
    .btn7 {
      color: white;
      font-weight: medium;
      font-size: 1rem;
      width: 175px;
      height: 50px;
      border: none;
      border-radius: 50px;
    position: absolute;
      top: 155px;
      left: 34px;
      background-color: rgba(149, 178, 38, 1);
    
      
    }
    .btn8 {
      color: white;
      font-weight: medium;
      font-size: 1rem;
      width: 175px;
      height: 50px;
      border: none;
      border-radius: 50px;
    position: absolute;
      top: 155px;
      left: 34px;
      background-color: rgba(93, 88, 240, 1);
    
      
    }
    .btn9 {
      color: white;
      font-weight: medium;
      font-size: 1rem;
      width: 175px;
      height: 50px;
      border: none;
      border-radius: 50px;
    position: absolute;
      top: 155px;
      left: 34px;
      background-color: rgba(149, 178, 38, 1);
    
      
    }
    .btn10 {
      color: white;
      font-weight: medium;
      font-size: 1rem;
      width: 175px;
      height: 50px;
      border: none;
      border-radius: 50px;
    position: absolute;
      top: 155px;
      left: 34px;
      background-color: rgba(149, 178, 38, 1);}
    .stories-text{
      display: flex;
      justify-content: space-between;
      max-width: 1160px;
      display: 100%;
      margin: 0px auto;
    }
    .stories-mini-card1-title{
      font-weight: bold;
      font-size: 1rem;
      padding: 20px 40px;
    }
    .stories-mini-card2-title{
      font-weight: bold;
      font-size: 1rem;
      padding: 20px 40px;
    }
    .stories-mini-card3-title{
      font-weight: bold;
      font-size: 1rem;
      padding: 20px 40px;
    }
    .stories-mini-card4-title{
      font-weight: bold;
      font-size: 1rem;
      padding: 20px 40px;
    }
    
    
    .viewall-button{
      text-align: center;
      padding: 60px 0px;
    }
    .footer-logo-title{
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
    }
    .footer-logo-text{
      font-size: 1.25rem;
      color: white;
    }
    
    
    .footer-links-title{
      font-weight: bold;
      font-size: 1.5rem;
      color: white;
    }
    .footer-links-items{
      list-style: none;
      padding-left: 0px;
      
    }
    .footer-links-item{
      font-weight: medium;
      font-size: 1.25rem;
      padding: 10px 0px;
    
    }

    .footer-media-title{
      font-weight: bold;
      font-size: 1.625rem;
      color: white;
      padding: 30px 5px;
    }
    footer{
      background-color: rgba(1, 172, 253, 1);
      max-width: 1440px;
      width: 100%;
     margin: 0px auto;
    
    }
    .footer-text{
    max-width: 1070px;
    display: flex;
    margin: 0px auto;
    justify-content: space-around;
    }
    .footer-logo-text{
     max-width: 400px;
     padding: 20px 0px;
      }
    .footer-logo{
      display: flex;
    
    }
    .footer-media-icon{
      padding: 5px;
      
    } 
    a{
      text-decoration: none;
      color: white;
    
    }
    
    marquee{
      font-weight: bold;
      font-size: 2rem;
    
      padding: 30px 0;
    }
    
    
    
  @media screen and (max-width: 576px) {
    .nav-anchor, .nav-btn, .nav-tile{
      display: none;
    }
    .menu-bar{
      display: block;
    }
    .banner{
      flex-direction: column-reverse;
    }

    header,main,footer{
      padding: 0px 20px;
    }
    .banner-text{
      text-align: center;
    }
    .curriculum-text{
      flex-direction: column;
    }
    .stories-big-card{
      display: none;
    }
    .btn7{
      top:90px ;
      left: 20px;

    }
    .btn8{
      top:90px ;
      left: 20px;
      
    }
    .btn9{
      top:90px ;
      left: 20px;
      
    }
    .btn10{
      top:90px ;
      left: 20px;
      
    }
    .footer-text{
      flex-direction: column;
    }



    
  }

  